.box {
	width: 70%;
	height: 300px;
	margin: 0 auto 5% auto;
	background: thistle;
}

@media (min-width: 700px) {
	.box {
		width: 33%;
		background: red;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
}
