body {
  background-color: blue;
  /* border: 1px solid orange; */
  color: white;
  font-family: sans-serif;
}

#full-content-div {
  /* border-color: 2px solid thistle; */
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:  center;
  min-height: 100vh;
  min-width: 100vw;
}

.card-container {
  /* border: 2px solid purple; */
  background-color: #ffc0cb;
  color: black;
  font-size: 2rem;
  margin: 25px;
  width: 400px;
  height: 400px;

}

.content-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-grow: 2;
  justify-content: space-around;
  align-items: space-around;
  margin: 2em;
  flex-wrap: wrap-reverse;
}

/* footer {
  position: absolute;
  bottom: 0;
} */